<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>

  <link rel="shortcut icon" type="image/png" href="/favicon.png">  <!-- from: http://pngimg.com/download/224 -->

  <!-- main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/poole.css">
  <link rel="stylesheet" type="text/css" href="/css/dark.css">

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400&display=swap">
</head>
