<!DOCTYPE html>
	<html>
        {% include head.html %}
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<li><a href="/about">about</a></li>
	        		<li><a href="/research">research</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
                    <li><a href="mailto:hello@ivanakajic.me">email</a></li>
                    <li><a href="https://github.com/ikajic">github.com/ikajic</a></li>
				</ul>
			</footer>
		</body>
		<script>
		  document.querySelectorAll('a[href^="http"]').forEach(function (link) {
		    if (link.hostname !== window.location.hostname) {
		      link.target = '_blank';
		      link.rel = 'noopener noreferrer';
		    }
		  });
		</script>
	</html>
